
@{
    ViewData["Title"] = "RandomText";
}

@model RandomWordWeb.Models.TextViewModel




<style>
    .height-14 {
        height: 12rem !important;
    }
</style>


<div class="py-5">
    <h4 class="mb-3 text-center">Word List </h4>
</div>


@(ViewBag.Message)

<form asp-action="Get" asp-controller="TextList" method="get">
 
    @*<span asp-validation-for="@Model.Word"></span> <br />*@


    <button type="submit">Get</button> <br />

</form>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.Texts)


        {

            <tr>
                <td>@item.TextId</td>
                <td>@item.Word</td>

            </tr>

        }




    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Text</th>

        </tr>
    </tfoot>
</table>


@section Scripts {
    <script>
$(document).ready(function () {
            $('#example').DataTable();
    });
    </script>
}